@import url('https://fonts.cdnfonts.com/css/avenir-next-lt-pro');



body{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#header{
    background-image: url("../img/backgrounds/bg-header.png");
    color: white;
}

#nav-logo{
    width: 45px;
    height: 45px;
}

#header-title h3, h6{
    display: inline;
}


#navbarTogglerDemo03 .active{
    color: #bd931f;
}

#navbarTogglerDemo03 .nav-link:hover{
    color: #bd931f;
}

main{
    background-image: url("../img/backgrounds/bg-page.jpg");
}

#widget-fecha{
    border: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#icon-clima{
    width: 60px;
    height: 60px;
}

#temperatura{
    font: normal 600 25px 'Avenir Next LT Pro', sans-serif;
    display: inline-block;
}

#descripcion-clima{
    font-size: 13px;
    margin-top: 0px;
    display: inline-block;
}

#card-title{
    font: normal 600 25px 'Avenir Next LT Pro', sans-serif;
    display: inline-block;
}

#card-text{
    font-size: 13px;
    margin-top: 0px;
    display: inline-block;
}

#bg-img-page{
    border: 0px;
}

#contenidos{
    margin: 80px auto;
    padding: 0;
}
#contenidos .card{
    padding: auto;
    width: 20rem;
}

#contenidos .card-img-top{
    width: 318px;
    height: 368px;
}

#contenidos .card-text{
    font-size: 14px;
}

#img-api{
 width: 208px;
 height: 208px;
}


.img-hover{
    width: 400px;
    height: 400px;
}

/* .img-gallery:HOVER{
    transition: 1s;
    transform: scale(0.8);
} */


.footer{
    padding: 30px 0 30px 0;
    background-color: rgb(29, 29, 29);
}

.footer button{
    color: white;
    border: 1px solid white;
}
.footer button:hover{
    border: 1px solid #d4b341;
    color: #d4b341;
}

.footer .quick-info a{
    color: #d4b341;
}

#footer-nav .nav-link{
    color: white;
}

#footer-nav .nav-link:hover{
    color: #d4b341;
}

[data-bs-theme="dark"] {
    background-color: rgb(19, 19, 19);
    
  

    .main{
        background-image: url("../img/backgrounds/bg-main-dark.svg");
        background-repeat: repeat y;
    }
}